@font-face {
  font-family: "Press Start 2P";
  src: url("Press_Start_2P/PressStart2P-Regular.ttf");
}

:root {
  --theme-primary: #fff8c0;
  --theme-secondary: #ec8a4b;
  --theme-tertiary: #ffcc68;
}

body {
  background-color: var(--theme-primary);
  font-family: "Press Start 2P", cursive;
  color: var(--theme-secondary);
}

.stand {
  user-select: none;
  cursor: pointer;
  width: 100%;
}
